// ------------------ 글꼴 -------------------- //

// 아직 미지정



// ------------------ 색상 -------------------- //


// ------------------ 기타 색상

// 텍스트
$thickDarkText: #212121;
$darkText: #4b4b4b;

// ------------------ 레이아웃 색상

$navbarColor: #8591d0;
$brandColor: #5262bc;
$sidebarColor: white;
$footerColor: hsl(0, 0%, 41%);
$contentColor: white;


// ------------------ 컴포넌트 별 스타일 변수

// 블록
$blockCategoryColor: #5262bc;
$blockMatchColor: #8591d0;

// 모달
$modalOpenButtonColor: #5262bc;
$modalFooterRightButtonColor: #8591d0;
$modalFooterLeftButtonColor: #8591d0;
$modalFooterHoverButtonColor: #5262bc;


$studyIntroParticipateButton: #8591d0;

$studyMemberProfileButton: #8591d0;

$subsidebarHoverColor: #eee;




$ColoredPageHeaderColor: #5262bc;


// ------ 폼


// 인풋

$inputBottomBorderColor: #5262bc;

// 텍스트 AREA

$textareaBottomBorderColor: #5262bc;

// 버튼

$configButtonColor: #5262bc;
$confirmButtonColor: #5262bc;